/* From Tempo Template - http://twigkit.github.com/tempo/ */
/* reset and basic typography */
		body {
			margin: 0;
			padding: 0;
			font-family: Helvetica, Arial, sans-serif;
		}
		h1, ol#tweets p {
			font-family: Georgia, "Times New Roman", serif;
			font-weight: normal;
		}
		ol {
			margin: 0;
			padding: 0;
			list-style: none outside none;
		}
		
		/* header */
		#header {
			background-color: black;
			margin-bottom: 2em;
		}
		h1 {
			color: white;
			padding: 0.667em 0;
			margin: 0;
			text-align: center;
		}
    .loading {
			min-height:40px;
      /*padding: 06em 0;*/
      z-index:1000;     
			background: url('../images/loading.gif') no-repeat top;
		}
    .search_box {min-width:350px;min-height:80px;}
    .box {border: 1px solid  #e9e9e9;margin: 15px;padding: 15px;}
    .center{text-align:center;}
    label.label_120_width {margin-left:20px;border:0px;min-width:120px;display:block;float:left;}
    .box label{margin-left:20px;border:0px;}
		/* tweets */
		ol#tweets.loading {
			/*padding: 06em 0;*/
      z-index:1000;     
			background: url('../images/loading.gif') no-repeat top;
		}
		ol#tweets li {
			padding: 1.25em 0;
			border-bottom: 1px solid #e9e9e9;
		}
        ol#tweets li.error {
            margin: 50px 0 30px 0;
            font-family: Georgia, "Times New Roman", serif;
            text-align: center;
            font-size: 1.5em;
        }
		ol#tweets p {
			font-size: 1.5em;
			color: #666;
		}

        ol#tweets p span.time {
            font-size: 0.7em;
			color: #bbb;
		}

		.user img {
			float: right;
			padding: 5px;
			border: 1px solid #e9e9e9;
			margin-right: 20px;
		}
		.user h3 {
			float: right;
			margin: 0 15px 0 0;
			color: #333;
			line-height: 60px;
		}
    
/* universal footer */
ul#tempo-actions {
	text-align: center;
	background-color: #f0f0f0;
	margin: 3em 0 0 0;
	padding: 3em;
}
ul#tempo-actions li {
	display: inline-block;
	margin-right: 0.5em;
}
ul#tempo-actions li a {
	display: block;
	padding: 1em;
}
ul#tempo-actions li:hover {
	background-color: #e0e0e0;
}
ul#tempo-actions li:active {
	background-color: #ccc;
}
ul#tempo-actions li.download a {
	color: white;
	background-color: blue;
}
ul#tempo-actions li.download a:hover {
	background-color: darkblue;
}
ul#tempo-actions li.download a:active {
	background-color: black;
}
#footer {
	background-color: black;
	color: white;
	padding: 2em 0px;
}
#footer a {
	color: white;
}
/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}